@charset "UTF-8";

*{margin: 0;}

a{text-decoration: none; color: white;}

body{
    background-image: url(/images/index/background.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.container{margin:auto;}


/* Configuracion del header */
header{
    height: 50px;
    background: #4E10AE;
    box-sizing: border-box;
    position: fixed;
    width: 100%;
    box-shadow: 0px 0px 30px 1px;
}

/* Nombre de la pagina web */
.namewp{
    color: rgb(255, 255, 255);
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    padding: 10px;
}

/* Configuracion del boton "Contacto" */
.btncontact{
    float: right;
    margin-right: 10px;
    font-size: .8em;
    background: #73ADCF;
    border-radius: 5px 5px 5px 5px;
    padding: 5px 5px 5px 5px;
    transition: 1s;
}

.btncontact a{text-decoration: none; color: white;}
.btncontact:hover{background: #ECB009; transition: 500ms}
.btncontact a:link, .btncontact a:visited{color: white;}


/* Configuracion del panel principal */
.mainpnl{
    height: 100vh;
    box-sizing: border-box;
    padding-top: 50px;
}

/* Imagen del panel principal */
.maipnlimg{
    height: 200px;
    width: 200px;
    margin: 10vh auto 0px auto;
    background-image: url(/images/index/logo2.png);
    background-size: cover;
}

/* Eslogan del panel principal */
.mainpnlslogan{
    color: white;
    text-align: center;
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10vh;
    text-shadow: 1px 1px 10px black;
}

/* Configuracion de los botones "Explore nuestras funciones" */
.btnxplr, .btnxplr2{
    color: white;
    text-align: center;
    margin: auto;
    width: 40vw;
    padding: 5px;
    border-radius: 10px 10px 10px 10px;
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 5vh;
    text-shadow: 1px 1px 10px black;
    background: #498DB6;
    box-shadow: 2px 2px 10px 1px black;
    transition:500ms;
}

.btnxplr2{margin-top: 0; margin-bottom: 30px;}
.btnxplr:hover, .btnxplr2:hover{background: #ECB009; transition: 500ms;}
.mainpnl a:link, .mainpnl a:visited{color:white;}
.mainpnl a{margin:auto; width: 40vw;}

/* Configuracion del contenedor de paneles */
.pnl{color: black; font-family: Arial, Helvetica, sans-serif; box-shadow: 0px 0px 20px 2px black;}

/* Configuracion del subcontenedor de paneles 1 */
.subpnl1{
    height: 400px;
    box-sizing: border-box;
    padding: 10px;
    background: rgb(255, 255, 255);
}

/* Configuracion del panel 1 */
.pnl1{
    float: left;
    padding: 10px;
    width: 70%;
    box-sizing: border-box;
    height: 100%;
    background: rgb(240, 240, 240);
    box-shadow: 0px 0px 10px 1px black;
}

/* Configuracion de los titulos de .pnl1 y .pnl4 */
.compabout, .compcontact{
    text-align: center;
    font-size: 1.8em;
    padding: 20px 5px 20px 5px;
    box-sizing: border-box;
}

/* Configuracion de las lineas de .pnl1 y .pnl4 */
.line hr{
    border-width: 3px;
    margin: auto;
    width: 50%;
    border-color: #2B76A2;
    box-shadow: 0px 3px 10px 0px;
}

/* Configuracion de los textos dentro de .pnl1 y .pnl4*/
.compinfo, .compemail{
    text-align:justify;
    padding: 20px 5px 20px 5px;
    box-sizing: border-box;
    line-height: 1.5;
    padding-top: 50px;
    font-size: 1.5em;
}

.compemail{text-align: center; padding-top: 100px;}

/* Configuracion del panel 2 */ 
.pnl2{
    float: right;
    width:28%;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    background-image: url(/images/index/pnl2.jpg);
    background-size: cover;
    box-shadow: 0px 3px 10px 1px black;
}

/* Configuracion del subcontenedor de paneles 2 */
.subpnl2{
    height: 400px;
    box-sizing: border-box;
    padding: 10px;
    background: rgb(255, 255, 255);
}

/* Configuracion del panel 3 */
.pnl3{
    float: left;
    width: 30%;
    padding: 10px;
    height: 100%;
    box-sizing: border-box;
    background-image: url(/images/index/pnl3.jpg);
    background-size: cover;
    box-shadow: 0px 3px 10px 1px black;
}

/* Configuracion del panel 4 */
.pnl4{
    padding: 10px;
    float: right;
    width:68%;
    box-sizing: border-box;
    height: 100%;
    background: rgb(240, 240, 240);
    box-shadow: 0px 0px 10px 1px black;
}

/* Configuracion del footer */
footer{
    background: #084B73;
    padding: 20px 10px 10px 10px;
    box-sizing: border-box;
    height: 100%;
    line-height: 1.5;
}

/* Configuracion del contenedor de la informacion del footer */

.infocontainer{height: 200px;}
.infocontainer ul li{list-style: square; color: white}
.infocontainer ul li a, .infocontainer ul li a:link ,.infocontainer ul li a:visited{color: white}
.infocontainer ul li a:hover{text-decoration: underline;}

/* Configuracion de los subpaneles dentro de .infocontainer*/
.contact, .information, .policies{
    float: left;
    width: 33%;
    border-right: solid thin black;
    color: white;
    height: 100%;
}

.infotext{margin-left: 5px;}

/* Configuracion del texto Copyright al final de la pagina */
.copyright{color: white; text-align: center;}