@charset "UTF-8";

*{margin: 0;}

a{text-decoration: none; color: white;}

/* Configuracion del header */
header{
    height: 50px;
    background: #4E10AE;
    box-sizing: border-box;
    position: fixed;
    width: 100%;
    box-shadow: 0px 0px 30px 1px;
}

/* Nombre de la pagina web */
.namewp{
    color: rgb(255, 255, 255);
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5em;
    padding: 10px;
}

/* Configuracion del boton "Contacto" */
.btncontact{
    float: right;
    margin-right: 10px;
    font-size: .8em;
    background: #73ADCF;
    border-radius: 5px 5px 5px 5px;
    padding: 5px 5px 5px 5px;
    transition: 1s;
}

.mainpnl{
    padding: 20px;
    padding-top: 60px;
    height: 500px;    /* TEMPORAL */
    box-sizing: border-box;
    background-image: url(images/index/pnl3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: auto;
}

.frase{
    width: 50%;
    float: left;
    box-sizing: border-box;
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 50px;
    color: white;
    font-size: 2em;
    text-shadow: 1px 1px 5px black;
}

.uppercase{
    text-transform: uppercase;
}
/* Configuración del formulario */
.form{
    width: 50%;
    float: right;
    box-sizing: border-box;
    background: rgba(8, 76, 115, 0.5);
    padding: 1%;
    border-radius: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.txt-floatleft{
    float: left;
    width: 20%;
    margin-top: 5px;
    margin-bottom: 5px;
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 10px;
}

.input-floatright{
    width: 80%;
    margin-top: 5px;
    margin-bottom: 5px;
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn-send{
    margin: 10px auto 0px auto;
    text-align: center;
}

input[type="submit"]{
    border: none;
    font-size: 1em;
    padding: 5px 20px 5px 20px;
    color: white;
    background: #73ADCF;
    transition: .2s;
    border-radius: 5px;
}

input[type="submit"]:hover{
    background: #ECB009;
    transition: .2s;
    cursor: pointer;
}

.form-link{
    margin-top: 50px;
    text-align: center;
}

.form-link a{
    text-decoration: underline;
}

.form-link a:active{
    color: initial;
}

.form-link a:visited{
    color: initial;
}
/* Configuración del botón contacto */
.btncontact a{text-decoration: none; color: white;}
.btncontact:hover{background: #ECB009; transition: 500ms}
.btncontact a:link, .btncontact a:visited{color: white;}

/* Configuracion del footer */
footer{
    background: #084B73;
    padding: 20px 10px 10px 10px;
    box-sizing: border-box;
    height: 100%;
    line-height: 1.5;
}

/* Configuracion del contenedor de la informacion del footer */

.infocontainer{height: 220px;}
.infocontainer ul li{list-style: square; color: white}
.infocontainer ul li a, .infocontainer ul li a:link ,.infocontainer ul li a:visited{color: white}
.infocontainer ul li a:hover{text-decoration: underline;}

/* Configuracion de los subpaneles dentro de .infocontainer*/
.contact, .information, .policies{
    float: left;
    width: 33%;
    border-right: solid thin black;
    color: white;
    height: 100%;
}

.infotext{margin-left: 5px;}

/* Configuracion del texto Copyright al final de la pagina */
.copyright{color: white; text-align: center;}